<div class="container">
	<div class="hero-unit">
		<center>MetadataExtractor UI module</center>
	</div>

	<h3>Listing metadata from: <strong>Duplex_A_20110907_optimized.ifc</strong></h3>
	
	<!-- This is the 'buildm' region of the template, where subregions can be 'shown' in. -->
	<h2>buildm (descriptive) metadata</h2>
	
	<div id="buildm-region">No metadata found for given file!</div>

	<br><br>
	
	<button type="submit" class="btn btn-default js-previous">Previous</button>
	<button type="submit" class="btn btn-default js-next">Next</button>
</div>