<div class="container">
	<div class="hero-unit">
		<center>MetadataExtractor UI module</center>
	</div>
	
	<div style='margin: 40px;'>
		Listing metadata from:
		<ul>
			<li><strong>Duplex_A_20110907_optimized.ifc</strong></li>
			<li><strong>dummy.e57</strong></li>
		</ui>
	</div>
	
	<!-- This is the 'buildm' region of the template, where subregions can be 'shown' in. -->
	<h3>buildm (descriptive) metadata</h3>
	<div id="buildm-region">No metadata found for given file!</div>

	<!-- This is the 'buildm' region of the template, where subregions can be 'shown' in. -->
	<h3>ifcm (technical) metadata</h3>
	<div id="ifcm-region">No metadata found for given file!</div>

	<!-- This is the 'buildm' region of the template, where subregions can be 'shown' in. -->
	<h3>e57m (technical) metadata</h3>
	<div id="e57m-region">No metadata found for given file!</div>

	<br><br>

	<button type="submit" class="btn btn-default js-previous">Previous</button>
	<button type="submit" class="btn btn-default js-next">Next</button>
</div>