@import 'sass-bootstrap/lib/bootstrap';
@import 'landingpage';
@import 'thomas';
@import 'sip';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 400px;
}

#logo {
    margin-top: 40px;
    margin-bottom: 40px;
}

.navbar-static-side {
	margin-top: 100px;
}

.table tbody tr > td.success {
  background-color: #dff0d8 !important;
}

.table tbody tr > td.error {
  background-color: #f2dede !important;
}

.table tbody tr > td.warning {
  background-color: #fcf8e3 !important;
}

.table tbody tr > td.info {
  background-color: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.success {
  background-color: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.error {
  background-color: #ebcccc !important;
}

.table-hover tbody tr:hover > td.warning {
  background-color: #faf2cc !important;
}

.table-hover tbody tr:hover > td.info {
  background-color: #c4e3f3 !important;
}