<div class="container">
	<div class="hero-unit">
		Welcome to the DURAARK Workbench
	</div>
</div>

<p class='description'>
  	The DURAARK Framework provides a set of workflows supporting a user with long-time-archival tasks in the BIM domain. 
  	Select a workflow below!
</p>

<ul class='landing-tiles'>
	<li class="tile js-geometric-enrichment float-shadow">Geometric Enrichment</li>
	<li class="tile js-sip-generation float-shadow">SIP Generation</li>
	<li class="tile js-maintenance float-shadow">Maintenance</li>
	<li class="tile js-search-retrieval float-shadow">Search & Retrieval</li>
</ul>