<div class="container">
	<div class="hero-unit">
		<h1>DURAARK Workbench</h1>
		Welcome to the DURAARK Workbench
	</div>

	<div class="row">
		<div class="span8">
			<p class='description'>
			  	The DURAARK Framework provides a set of workflows supporting a stakeholder with long-time archival tasks in the BIM domain. See <a href="./D2.4.pdf">this document</a> for a user manual and a technical "behind-the-scenes" description. Enjoy!
			</p>
		</div>
	</div>
		
	<div class="hero-unit">
		<h1>Available Workflows</h1>
	</div>

	<div class="row">
		<div class="span8">
			<ul class='landing-tiles'>
				<li class="tile js-geometric-enrichment float-shadow">Geometric Enrichment</li>
				<li class="tile js-sip-generation float-shadow">SIP Generation</li>
				<li class="tile js-maintenance float-shadow">Maintenance</li>
				<li class="tile js-search-retrieval float-shadow">Search & Retrieval</li>
			</ul>
		</div>
	</div>		
</div>