<div class="container">
	<div class="hero-unit">
		<h1>Geometric Enrichment</h1>
		Enrichment of 3D data.
	</div>

	<div class="row">
		<div class="span8">
		    <p class='description'>
		    The prototype for the geometric enrichment tools available in the DURAARK tool set are executeted on a local desktop machine that allows sufficiently performant interaction.<br/>
		    <b>Status:</b>At present, the main point cloud relevant tool is the guided, semi-automatic registation of <b>E57 pointclouds</b> to a manual modeled <b>IFC</b> building file. 
		    </p>
		</div>
	</div>

	<div class="hero-unit">
        <h1>Available Tools</h1>
	</div>

	<div class="row">
		<div class="span8">
		    <p class='description'>
		    	At present, the registration tool is available. Further tools will follow in M20
		    </p>	

			<ul class='landing-tiles'>
				<li class="tile js-geometric-enrichment float-shadow">IFC/E57 Registration</li>
			</ul>
		</div>
	</div>		
</div>