<div class="container">
	<div class="hero-unit">
		Welcome to the DURAARK <em>Workbench</em> prototype
	</div>

	<div class='welcome-wrapper'>
		<p class='intro'>Working with the <em>Workbench</em> prototype is organized in <em>Sessions</em>. A session consists of a selection of files that you want to archive to a long-term-archival system. The result of a session is a SIP file that is ready for uploading to the archival system. In this version of the prototype (M18) no actual uploading of the generated SIP is taking place, this will be possible in later versions of the prototype.</p>

		<div align="left">
			Session name:    <input type="text" name="session-name" placeholder="MyNewSession"><br>
			Enable Demo Mode <input type="checkbox" name="demo-mode" value="true"><br><br>
		</div>

		<button type="submit" class="btn btn-default js-next">Start New Session</button>
	</div>
</div>