<td>{{id}}</td>
<td>{{label}}</td>
<td>{{files.length}}</td>
<td><button type="submit" class="btn btn-success js-start-session">Start</button>  <button type="submit" class="btn btn-danger js-delete-session">x</button></td>
