<div class="container">
	<div class="hero-unit">
		SemanticEnrichment: Adds additional metadata to the files.
	</div>
	<br>
	<br>
	<h3>Additional metadata (showing first 10)</h3>
	<div id="sematic-region">
	  <img src="spinner.gif" alt="spinner">
	  <p>Waiting for webservice to provide fresh info</p>
	</div>

	<br>

	<br>
	<button type="submit" class="btn btn-default js-previous">Previous</button>
	<button type="submit" class="btn btn-default js-next">Next</button>	
</div>