<div class="container">
	<div class="hero-unit">
		SemanticEnrichment: Adds additional metadata to the files.
	</div>
	<br>
	<br>
	<h3>Placeholder for additional metadata</h3>
	<br>
	<div id="placeholder_table">
		<table border="1">
			<tr><td>Dataset IDs</td><td> Resource IDs</td><td> Resource URIs</td><td> Property URIs</td><td> and Resource Values</td></tr>
			<tr><td>6</td><td>75491</td><td>http://enipedia.tudelft.nl/wiki/Zion_Energy_Powerplant</td><td>http://enipedia.tudelft.nl/wiki/Property:Metroarea</td><td>http://enipedia.tudelft.nl/wiki/Chicago</td></tr>
			<tr><td>6</td><td>79639</td><td>http://enipedia.tudelft.nl/wiki/North_Lake_Energy_Powerplant</td><td>http://enipedia.tudelft.nl/wiki/Property:City</td><td>http://enipedia.tudelft.nl/wiki/East_Chicago</td></tr>
			<tr><td>6</td><td>81431</td><td>http://enipedia.tudelft.nl/wiki/Ironside_Energy_Powerplant</td><td>http://enipedia.tudelft.nl/wiki/Property:City</td><td>http://enipedia.tudelft.nl/wiki/East_Chicago</td></tr>
		</table>
	</div>
	<br>
	<button type="submit" class="btn btn-default js-previous">Previous</button>
	<button type="submit" class="btn btn-default js-next">Next</button>	
</div>