<div class="container">
	<div class="hero-unit">
		<h1>SIP Generation</h1>
		Welcome to the DURAARK <em>SIP Generation</em> workflow
	</div>

	<div class="row">
		<div class="span8">
		<p class='description'>
			The generation of SIPs is organized in <em>Sessions</em>. A session consists of a selection of files that you want to archive to a long-term-archival system. The result of a session is a SIP file that is ready for uploading to the archival system.
		</p>
			
		<p class='description'>
			There are existing sessions prepared, so that one can test the SIP generation without having to upload (eventually big) IFC or E57 files. Clicking the <strong>Start</strong> button starts to guide the user through the process.
		</p>

		<p class='description'>
			You can also create a new session and upload your own files. Use the <strong>New Session</strong> button for this. As this is a prototype system newly generated sessions will not be
			persisted on the server.
		</p>
		<div>
	</div>

	<div class="hero-unit">
		<h1>Current Sessions</h1>
	</div>

	<br>

	<div align="left">
		Session name: <input type="text" name="session-name" placeholder="MyNewSession"><br>
		<button type="submit" class="btn btn-default js-new">New Session</button>
	</div>

	<br>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Label</th>
				<th>Files</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

</div>