<div class="container">
	<div class="hero-unit">
		<h1>File Identification</h1>
		Identification for uploaded files
	</div>

	<div class="row">
		<div class="span8">
		    <p class='description'>
		    This component provides feedback of the <b>DROID</b> file identifiacation tool that is triggered for the uploaded files. 
		    <b>Status:</b> At present, file identification is supported for <b>E57</b> files only. Profile patterns for IFC should be ready by the end of the summer 2014.
		    </p>
		</div>
	</div>

	<div class="hero-unit">
		<h1>Identified Files</h1>
	</div>

	<div class="row">
		<div class="span8">
			<div id="fileid-region">
			  <img src="spinner.gif" alt="spinner">
			  <p>Waiting for Droid to identify file. Typically takes 10-30 seconds per file. IFC is currently an unknown format for Droid, E57 is known.</p>
			</div>
		</div>
	</div>

	<button type="submit" class="btn btn-default js-previous">Previous</button>
	<button type="submit" class="btn btn-default js-next">Next</button>
</div>