<div class="container">
	<div class="hero-unit">
		FileIdentification: Checks if the files specified in the SessionManager are valid. Uses the 'FileIdentification' service.</div>

	<button type="submit" class="btn btn-default js-previous">Previous</button>
	<button type="submit" class="btn btn-default js-next">Next</button>
</div>