<div class="container">
	<div class="hero-unit">
		SearchAndRetrieve: Enter search term and get the results listed.
	</div>
	<p>Search repository</p><br> 
	<input type="search" name="reposearch" id="searchstringinput">
	<button type="submit" class="btn btn-default js-search">Search</button>

	<div id="probado-region">
	  <img src="spinner.gif" alt="spinner">
	  <p>Waiting for webservice to provide fresh info</p>
	</div>




	<h4>TODO</h4>
	<p>Pagination? Full text search? Maps?</p>
</div>