<div class="container">
	<div class="hero-unit">
		SearchAndRetrieve: Enter search term and get the results listed.
	</div>

	<button type="submit" class="btn btn-default js-search">Search</button>
</div>