<div class="container">
	<div class="hero-unit">
		<h1>Search & Retrieval</h1>
		Searching within indexed SIP content.
	</div>

	<div class="row">
		<div class="span8">
		    <p class='description'>
		        This allows the search of ingested Information Packages based on metadata created during the ingestion stages. 
		    </p>
		</div>
	</div>

	<div class="hero-unit">
        <h1>Search Mask</h1>
	</div>

	<br><br>

	<div class="row">
		<div class="span8">
			Enter filter term: <input type="search" name="reposearch" id="searchstringinput">
			<button type="submit" class="btn btn-default js-search">Filter</button>

			<div id="probado-region">
			  <img src="spinner.gif" alt="spinner">
			  <p>Loading...</p>
			</div>
		</div>
	</div>
</div>