<div class="container">
	<div class="hero-unit">
		<h1>SIP Generation</h1>
		Overview of the SIP file content.
	</div>
	
	<div class="row">
		<div class="span8">
		    <p class='description'>
		        In this component all uploaded / ingested files along with the metadata are structured and packaged in accordance to the implementation specifics of the DPS system.<br/>
		        <b>Status:</b> At present, the SIP package is structured for the commercial <b>Rosetta</b> system. This includes the structuring of all digital objects and the records in the METS file in accordance to the specification of the vendor.

		    </p>
		</div>
	</div>
	
	<div class="hero-unit">
		<h1>Content Overview</h1>
	</div>

	<div class="row">
		<div class="span8">
			<div id="sipgen-region">
				<img src="spinner.gif" alt="spinner">
				<p>Waiting for webservice to provide fresh info</p>
			</div>
		</div>
	</div>
	
	<div id='loading'>
		<img src="spinner.gif" alt="spinner">
		<p>Generating SIP archive. This may take a few minutes...</p>
	</div>

	<button type="submit" class="btn btn-default js-upload">Generate SIP</button>	
	<button type="submit" class="btn btn-large btn-success js-download">Download SIP</button>
	<button type="submit" class="btn btn-default js-previous">Home</button>
</div>