<div class="container">
	<div class="hero-unit">
		<h1>SIP Generation</h1>
		Overview of the SIP file content.
	</div>
	
	<div class="row">
		<div class="span8">
		    <p class='description'>
		        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque nibh eget ante aliquet, vitae aliquam tortor condimentum. Cras eleifend est lorem, ut interdum lectus pharetra nec. Duis ut gravida purus. Donec at felis laoreet, lobortis elit non, congue libero. In ac accumsan est, id auctor mauris. Aenean auctor odio mauris, ac gravida elit vulputate at. Aenean a elit sit amet enim tincidunt varius in ut dolor. Morbi sodales ligula vestibulum, mollis dui non, dignissim metus. Integer et lectus 
		        sagittis, placerat massa a, laoreet urna. Mauris tempus lobortis urna, et viverra nunc tempor in. Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque in gravida odio, quis vulputate neque. Proin consequat enim vel porta suscipit. Curabitur non lacinia elit, a luctus nulla. Phasellus massa justo, tempor ut purus at, tincidunt gravida mi. 
		    </p>
		</div>
	</div>
	
	<div class="hero-unit">
		<h1>Content Overview</h1>
	</div>

	<div class="row">
		<div class="span8">
			<div id="sipgen-region">
				<img src="spinner.gif" alt="spinner">
				<p>Waiting for webservice to provide fresh info</p>
			</div>
		</div>
	</div>
	
	<button type="submit" class="btn btn-default js-previous">Previous</button>
	<button type="submit" class="btn btn-default js-upload">Generate SIP</button>	
</div>