<div class="container">
	<div class="hero-unit">
		SIPGenerator: Lists the metadata for the user to check and provides upload button to Rosetta.
	</div>

	<button type="submit" class="btn btn-default js-previous">Previous</button>
	<button type="submit" class="btn btn-default js-upload">Upload</button>	
</div>