<h4>Search results (10 first entries shown)</h4>
<thead>        
    <tr>    
        <th>Dataset</th>
        <th>Link</th>
        <th>Score</th>
        <th>Link_1</th>
        <th>Entity</th>
        <th>Resource</th>
    </tr>
</thead>
<tbody><!-- Marionette's CompositeView will insert the each collection item here --></tbody>