<div class="container">
	<div class="hero-unit">
		<h1>Semantic Digital Observatory</h1>
		Interface to the Semantic Digital Observatory content.
	</div>    

	<div class="row">
		<div class="span8">
		    <p class='description'>
		        Allows the lookup of SDO information
		    </p>	

	<div class="hero-unit">
        <h1>Search Mask</h1>
	</div>

	<div class="row">
		<div class="span8">
		    <p class='description'>
				Enter a topic of top specific resources and datasets. The topic has to be a <strong>DBpedia category</strong> (only the category name and not the full category URI, i.e. "Architecture" and not "http://dbpedia.org/page/Category:Architecture")
			</p>

			<br><br>

			Search topic: <input type="search" name="reposearch" id="searchstringinput">
			<button type="submit" class="btn btn-default js-search">Search</button>

			<br><br>
		</div>
	</div>
			
	<div class="row">
		<div class="span12">			
			<div id="semobs-region">
			  <img src="spinner.gif" alt="spinner">
			  <p>Waiting for webservice to provide fresh info about the state of the Observatory</p>
			</div>
		</div>
	</div>
</div>