<div class="container">
	<div class="hero-unit">
		<center>Listing data from the Semantic Digital Observatory in this UI module</center>
	</div>
	
	<!-- This is the 'buildm' region of the template, where subregions can be 'shown' in. -->
	<h3>Sematic Digital Observatory</h3>
	<p>Enter a topic from Top Specific Resources and Datasets. The topic must be a <strong>DBpedia category</strong> (only the category name and not the full category URI, i.e. "Architecture" and not "http://dbpedia.org/page/Category:Architecture")</p><br> 
	<br>
	<span style="color:#80BFFF">This screen is in flux, and only the search part currently works -- not the default view. But there is some timeing issue, and to explore this I have limited the number of json-array-items sent from the endpoint to the model to 10.</span>
	<br>
	<input type="search" name="reposearch" id="searchstringinput">
	<button type="submit" class="btn btn-default js-search">Search</button>

	<div id="semobs-region">
	  <img src="spinner.gif" alt="spinner">
	  <p>Waiting for webservice to provide fresh info about the state of the Observatory</p>
	</div>


	<br><br>

	<button type="submit" class="btn btn-default js-previous">Previous</button>
	<button type="submit" class="btn btn-default js-next">Next</button>
</div>