<div class="container">
	<div class="hero-unit">
        <h1>File Management</h1>
        Specify the IFC/E57/RDF files you want to work with here. Uses the 'SessionManager' service.
	</div>
    
    <p class='description'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque nibh eget ante aliquet, 
        vitae aliquam tortor condimentum. Cras eleifend est lorem, ut interdum lectus pharetra nec. Duis ut 
        gravida purus. Donec at felis laoreet, lobortis elit non, congue libero. In ac accumsan est, id auctor 
        mauris. Aenean auctor odio mauris, ac gravida elit vulputate at. Aenean a elit sit amet enim tincidunt 
        varius in ut dolor. Morbi sodales ligula vestibulum, mollis dui non, dignissim metus. Integer et lectus 
        sagittis, placerat massa a, laoreet urna. Mauris tempus lobortis urna, et viverra nunc tempor in. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque in gravida 
        odio, quis vulputate neque. Proin consequat enim vel porta suscipit. Curabitur non lacinia elit, a 
        luctus nulla. Phasellus massa justo, tempor ut purus at, tincidunt gravida mi. 
    </p>

	<p style='margin: 40px;'>At the moment we are working with hardcoded files.</p>

	<div style='margin: 40px;'>
		Loaded files in this session:
		<ul>
			<li><strong>Duplex_A_20110907_optimized.ifc</strong> -> valid ifc file (checked via FileIdentification Service)</li>
			<li><strong>dummy.e57</strong> -> valid E57 file (checked via FileIdentification Service)</li>
		</ui>
	</div>



	<!-- <form method="post" enctype="multipart/form-data" action="/file-upload">
	    <input type="file" name="thumbnail">
	    <input type="submit">
	</form> -->
	
	<div class="uploadform">
		<form action="/upload" enctype="multipart/form-data" method="post">
			<label for='uploadFile1'>Select an IFC file:</label>              <input type="file" id="uploadFile1" name="theFile" multiple="multiple"><br>
			<label for='uploadFile2'>Select an E57 file:</label>              <input type="file" id="uploadFile2" name="theFile2" multiple="multiple"><br>
			<label for='uploadFile3'>Select an E57-registration file:</label> <input type="file" id="uploadFile3" name="theFile3" multiple="multiple"><br>
			<input type="submit" value="Upload" class="btn btn-default">
	    </form>
    </div>
    <br>
	<button type="submit" class="btn btn-default js-next">Next</button>
</div>