<div class="container">
	<div class="hero-unit">
		SessionManager: Specify the IFC/E57/RDF files you want to work with here. Uses the 'SessionManager' service.
	</div>

	<p style='margin: 40px;'>At the moment we are working with hardcoded files.</p>

	<div style='margin: 40px;'>
		Loaded files in this session:
		<ul>
			<li><strong>Duplex_A_20110907_optimized.ifc</strong> -> valid ifc file (checked via FileIdentification Service)</li>
			<li><strong>dummy.e57</strong> -> valid E57 file (checked via FileIdentification Service)</li>
		</ui>
	</div>



	<!-- <form method="post" enctype="multipart/form-data" action="/file-upload">
	    <input type="file" name="thumbnail">
	    <input type="submit">
	</form> -->
	
	<div class="uploadform" style='background: #CCCCCC'>
		<form action="/upload" enctype="multipart/form-data" method="post">
			Select an IFC file:  <input type="file" name="theFile" multiple="multiple"><br>
			Select an E57 file:  <input type="file" name="theFile2" multiple="multiple"><br>
			Select an E57-registration file:  <input type="file" name="theFile3" multiple="multiple"><br>
			<input type="submit" value="Upload">
	    </form>
    </div>

	<button type="submit" class="btn btn-default js-next">Next</button>
</div>